.navigation-bar {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: rgba(0, 0, 0, 0.149);
}

::placeholder {
  color: white;
}

.navigation-bar .mdi {
  font-size: x-large;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
}

.navigation-bar .mdi:hover {
  background-color: rgba(0, 0, 0, 0.224);
}

.navigation-bar input {
  flex: 1;
  font-size: large;
  padding: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  box-sizing: border-box;
  margin-right: 1rem;
}
